:root
{
    background-image: url(images/background_dark.jpg);
    background-size:cover
}


#main_belt
{
    padding: 30px;
    background-color: darkblue;
    text-align: center;
    border: 5px solid lightblue;
    color: aliceblue;
}

.functional_button
{
    padding: 20px;
    background-color: blue;
    position: absolute;
    top: 20px;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    color: aliceblue;
    
}

.functional_button:hover
{
    background-color: greenyellow;
}

#user_button
{
    right: 20px;
}

#menu_button
{
    left: 20px;
}

