

		/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			/*background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);*/
            background: url(../img/tlo.png);
            background-size: 200%;
            /*animation: main_bar_animation 25s linear infinite;*/
			text-align: center;
            color: white;
		}

		/* Styling the Form (Color, Padding, Shadow) */
		form {
			/*background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);*/
            background: transparent;
            background-color: rgba(78, 92, 130, 0.5);
            border-color: black;
            background-size: 400%;
            animation: main_bar_animation 5s linear infinite;
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 400px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
            border-radius: 40px;
            color:white;
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
            color: white;
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
            color: white;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
            background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);
            background-size: 400%;
            animation: main_bar_animation 25s linear infinite;
			border-radius: 2px;
			font-family: inherit;
			padding: 10px;
			display: block;
			width: 95%;
            color: white;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

		/* Styling Button */
		button {
			background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);
    
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			font-size: 21px;
			display: block;
			width: 100%;
			margin-top: 50px;
			margin-bottom: 20px;
		}

        a {
            text-decoration: none;
        }
        
        .main_bar {
            padding: 60px;
            background: transparent;
            background-color: rgba(78, 92, 130, 0.5);
            background-size: 400%;
            animation: main_bar_animation 5s linear infinite;
            text-align: center;
            color: aliceblue;
            border-radius: 35px;
        }
        
        #main_page_bar {
            padding: 10px;
        }

        .title_text {
            font-size: 60px;
            font-weight: 600;
            margin-top: 7px;
            margin-bottom: 7px;
            color: #000;
        }
        
        #welcome_text{
        margin-bottom: 15px;
        }
        
        @keyframes glowing {
            0% {background-position: 0 0; }
            50% {background-position: 400% 0; }
            100% { background-position: 0 0; }
        }
        
        @keyframes main_bar_animation {
            0% { background-position: 0% 0% }
            50% { background-position: 100% 0% }
            100% { background-position: 0% 0% }
        }
        
        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }
        
        .glow-on-hover {
            width: 220px;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
        }
        
        .glow-on-hover:active {
            color: #000
        }
        
        .glow-on-hover:active:after {
            background: transparent;
        }
        
        .glow-on-hover:hover:before {
            opacity: 1;
        }
        
        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #111;
            left: 0;
            top: 0;
            border-radius: 10px;
        }
        
        #user_button {
            top: 5px;
            right: 20px;
            position: absolute;
        }
        
        #menu_button {
            top: 5px;
            left: 20px;
            position: absolute;
        }

        #menu_box {
            visibility: hidden;
            height: 80%;
            width: 15%;
            background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);
            background-size: 400%;
            animation: main_bar_animation 5s linear infinite;
            position: absolute;
            left: 0px;
            border: 2px solid darkblue;
            color: aliceblue;
        }
        
        #menu_links a {
            margin-top: 20px;
            margin-left: 20px;
            display: block;
        }
        
        #menu_links a:hover {
            color: cornflowerblue;
            cursor: pointer;
        }
        
        #user_box {
            visibility: hidden;
            right: 5px;
            height: 8%;
            width: 17%;
            /*background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);*/
            background: #2596be;            ;
            background-size: 400%;
            animation: main_bar_animation 5s linear infinite;
            position: absolute;
            border: 2px solid darkblue;
            color: aliceblue;
            text-align: center;
        }
        
        #user_box a {
        
            margin-top: 0px;
            display: block;
            border: 2px solid #000;
        }
        
        #user_box a:hover {
            color: cornflowerblue;
            cursor: pointer;
        }

        .submit {
            background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);
            color:white;
            padding: 5%;
    
        }

        #role{
            
            color: white;
        }

        #label-role{
            color: white;
        }

        .optionc{
            color:black;
        }

        .dupxko{
            background-color: 1px #000 ;
        }
        