:root {
    /*background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);*/
    background: url(../img/tlo.png);
    background-size: 140%;
    /*animation: main_bar_animation 25s linear infinite;*/
}

a {
    text-decoration: none;
}

.main_bar {
    padding: 30px;
    /*background: linear-gradient(30deg, #39DE5E, #39DE5E, #7700ff, #cc00ff);
    background-size: 400%;
    /*animation: main_bar_animation 5s linear infinite;*/
    text-align: center;
    background: transparent;
}

#main_page_bar {
    padding: 5px;
    background: transparent;
}

.title_text {
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #FDFEFE;
    -webkit-text-stroke: 1.5px transparent;
    animation: jakasanimacja 6s linear infinite;
}

#welcome_text{
margin-bottom: 15px;
}

@keyframes jakasanimacja {
    0% {
      -webkit-text-stroke: 2px red;
    }
    16% {
      -webkit-text-stroke: 2px blue;
    }
    25% {
      -webkit-text-stroke: 2px violet;
    }
    50% {
      -webkit-text-stroke: 2px yellow;
    }
    75% {
      -webkit-text-stroke: 2px lime;
    }
    100%{
      -webkit-text-stroke: 2px red;
    }
  }

@keyframes glowing {
    0% {background-position: 0 0; }
    50% {background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes main_bar_animation {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 0% }
    100% { background-position: 0% 0% }
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover {
    width: 350px;
    height: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 25px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/*#user_button {
    top: 30px;
    right: 20px;
    position: absolute;
}*/

#menu_button {
    top: 30px;
    left: 20px;
    position: absolute;
}

/*#no_log_button {
    width: 200px;
    height: 100px;
    font-size: 20px;
}*/

#menu_box {
    visibility: hidden;
    height: 80%;
    width: 15%;
    background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);
    background-size: 400%;
    animation: main_bar_animation 5s linear infinite;
    position: absolute;
    border: 2px solid darkblue;
    color: aliceblue;
}

#menu_links a {
    margin-top: 20px;
    margin-left: 20px;
    display: block;
}

#menu_links a:hover {
    color: cornflowerblue;
    cursor: pointer;
}

#user_box {
    visibility: hidden;
    right: 5px;
    height: 20%;
    width: 25%;
    background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);
    background-size: 400%;
    animation: main_bar_animation 5s linear infinite;
    position: absolute;
    border: 2px solid darkblue;
    color: aliceblue;
    text-align: right;
}

#user_box a {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
}

#user_box a:hover {
    color: cornflowerblue;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    background: transparent;
    background-size: cover;
    color: aliceblue;
}

.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background: linear-gradient(30deg, #002bff, #7a00ff, #7700ff, #cc00ff);
    background-size: 400%;
    animation: main_bar_animation 5s linear infinite;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
    color: aliceblue;
}

.form_div {
    text-transform: uppercase;
}

.form_div>label {
    letter-spacing: 3px;
    font-size: 1rem;
}

.info_div {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1px;
}

.info_div a {
    text-decoration: none;
    color: #00ffd5;
}

.info_div a:hover {
    color: aliceblue;
}

.field_class {
    background: linear-gradient(90deg, #240a35, #120a35, #220a35, #240a35, #120a35, #250a3b, #010a35);
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: aliceblue;
}

.submit_class {
    border-style: none;
    border-radius: 5px;
    background-color: #FFE6D4;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

/*#login_button {
    display: block;
    margin: auto;
}*/

#register_button2 {
    display: block;
    margin: auto;
}

#members_table {
    width: 70%;
    table-layout: auto;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}

#github_picture {
    width: 40%;
    margin-top: 3%;
}

.member_picture {
    width: 60%;
    border-radius: 5%;
}